.product {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 1rem;
    &-image {
        max-width: 80%;
        height: 10rem;
        transition: ease 500ms;
        &:hover {
            max-width: 90%;
        }
    }
    &-category,
    &-country,
    &-description {
        padding: .1rem;
    }
    &-category {
        margin-top: .6rem;
    }
}