@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.main {
    font-family: 'Lato', sans-serif;
    background-color: #4e4e4e;
    width: 80%;
    display: inherit;
    flex-wrap: wrap;
    justify-content: center;
    &__content-img {
        width: 300px;
        height: 250px;
    }
    &__content-img__wrapper {
        width: 100%;
    }
    &__content-wrapper {
        border-radius: 5%;
        background-color: #d0d0d0;
        width: 40%;
        padding: 1.2rem;
        margin: 1rem;
        display: flex;
        flex-direction: column;
    }
    &__content-manufacturer,
    &__content-country {
        font-weight: 1000;
        font-size: 1.2rem;
    }
    &__content-desc {
        padding: 0.5rem;
    }
}

.product__btn:active {
    transform: scaleX(0.9) translateY(10px);
    background-color: #4e4e4e;
}

.product__btn {
    border-radius: 10px;
    border: none;
    padding: 10px;
    color: #111;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 200;
    transition: all 0.2s;
    margin: 5px;
    border-bottom: 0px solid #eee;
    cursor: pointer;
}