.header {
    background-color: #bebebe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: black;
    &__input &__btn_logOut:active {
        transform: scaleX(0.9) translateY(10px);
        background-color: #4e4e4e;
    }
    &__btn_search:active {
        transform: scaleX(0.9) translateY(10px);
        background-color: #4e4e4e;
    }
    &__btn_logOut,
    &__btn_search {
        border-radius: 10px;
        border: none;
        padding: 10px;
        color: #111;
        border-radius: 10px;
        font-size: 1.2em;
        font-weight: 200;
        transition: all 0.2s;
        margin: 5px;
        border-bottom: 0px solid #eee;
        cursor: pointer;
    }
}